.log-in {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.log-in h3 {
    color: #ffffff;
}

.log-in form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 4px #00000040;
    background-color: #222935;
}

.log-in form input {
    width: 250px;
    padding: 8px;
    border-radius: 5px;
    border: .3px solid #686868;
    background-color: #1A202C;
    color: #ffffff;
}

.log-in form input::placeholder {
    color: #ffffff;
    font-size: 12px;
}

.log-in form input:focus {
    outline: 1px solid #d3d3d3;
}

.log-in form button {
    padding: 5px;
    background-color: #805AD5;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.log-in form p {
    color: #ff0000;
    font-size: 12px;
}

.incorrect {
    text-align: center;
    color: #ff0000;
    margin-top: 30px;
}