.nav-wrapper {
    border: 1px solid #686868;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
    background-color: #222935;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    color: rgb(255, 255, 255);
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav p {
    font-size: 18px;
}